.git/
.npm-cache/
*.tgz

Documentation~.meta
Samples~.meta

[Bb]in/
[Oo]bj/
artifacts/
publish/
.vs/
.vscode/

*.csproj
*.sln
*.slnx
*.suo
*.user
*.pdb
*.nupkg

[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

.DS_Store
Thumbs.db
[Dd]esktop.ini
